* {
    margin: 0;
    font-size: 20 px;
    padding: 30px;
    color: whitesmoke;
    box-sizing: border-box;

}

    
body {
    width: 100%;
    background-image: radial-gradient(circle, brown 0%, salmon 100%);

}

/* ----------------------- */
/* -------- images ------- */
/* ----------------------- */
header img {
    height: 230px; 
    width: 400px; 
    object-fit: cover;
    margin-left: 500px;

}


/* ----------------------- */
/* ------- Header -------- */
/* ----------------------- */
header {
    font-size: 30px;
    display: inline-block; 
    width: 100%;
    height: 300px;
    padding-top: 30px;

}

header h2 {
    margin: 0;
	padding: 30px 0 30px 60px;
    list-style: none;
    background-repeat: no-repeat;
    background-size: 45px;
	background-image: url("../images/salmon.png");
    background-position: left center;
    padding-right: 120px;
    
}


.headerfloat {
    float: right;
    height: 200px;
    padding: 10px;
    width: 20%;
    
}

/* ----------------------- */
/* --------  Main -------- */
/* ----------------------- */

main {
    margin-top: 100px;

}

section h2 {
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    padding: 15px;

}


/* ----------------------- */
/* ------- table --------- */
/* ----------------------- */
table, th, td {
    border: 1px solid brown;
    text-align: center;

  }

th, td {
    padding: 10px;

}

table {
    text-align: center;
    width: 97%;
    margin: 15px;
}

.tableDiv {
    border: 0 solid white;
    outline-style: double;
    padding: 10px;
}

/* ----------------------- */
/* ------- misc --------- */
/* ----------------------- */
a:link {
    text-decoration: none;
  }


/* ----------------------- */
/* ------- Footer -------- */
/* ----------------------- */
footer {
    bottom: 0px;
    text-align: center;
    height: 60px;
    outline: 3px solid whitesmoke;
    clear: both;
    color: whitesmoke;
    background-color: salmon;
    padding: 15px;

}

/* ----------------------- */
/* --------- Form -------- */
/* ----------------------- */

input {
    padding: 2px;
    background-color: brown;
    margin: 2px;
}

button {
    padding: 2px;

}

fieldset {
    margin-top: 15px;

}


fieldset label {
    width: 10%;


}

button {
    background-color: brown;
    margin: 5px;

}

#newCity {
    border: 0 solid white;
    outline-style: double;
    padding: 10px;
    margin-top: 45px;
    
}

fieldset legend {
    font-size: 25px;

}

/* ----------------------- */
/* -----Contact info------ */
/* ----------------------- */

.leftbox {
    float: left;
    width: 30%;
    overflow: scroll;
    height: 90px;

}

.rightbox {
    float: right;
    font-size: 20px;
    width: 30%;

}

.rightbox h3 {
    font-size: 15px;

}

.centerbox {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    
}

#container {
    text-align: center;
    width: 100%;
    border-style: inset;
    border-color: brown;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px brown;
    
}


/* ----- images ----- */

#wrapper {
    text-align: center;
    border-style: inset;
    border-color: brown;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px brown;
    
}

#wrapper img {
    margin: 50px;
    display: inline-block

}

h4 {
    text-align: left;
    font-size: 30px;

}